@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Playfair+Display&family=Poppins:wght@400;500;600;700&family=Roboto&family=Roboto+Condensed&family=Space+Mono&family=Ubuntu:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: capitalize;
}

::-webkit-scrollbar {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.header_div {
  background-color: white;
  padding: 2%;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
  margin-top: -2%;
}

.section_header {
  background-color: rgba(48, 137, 220, 255);
}
/*---------------------- header -------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: rgba(48, 137, 220, 255) repeat-x;
  box-shadow: 0 5px 10px rgb(0, 0, 0, 0.1);
  padding: 0px 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

header .logo {
  font-weight: bolder;
  font-size: 1.5rem;
  color: rgba(48, 137, 220, 255);
}

header .navbar ul {
  list-style: none;
}

header .navbar ul li {
  position: relative;
  float: left;
}

header .navbar ul li a {
  font-size: 20px;
  padding: 20px;
  color: #fff;
  display: block;
}

header .navbar ul li a:hover {
  background: #333;
  color: #fff;
}

header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background: rgb(189, 218, 245);
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  display: none;
}

/* ----------header text area ----------------------- */

.content {
  width: 75%;
  height: auto;
  margin-left: 10%;
  padding-top: 6%;
  color: #fff;
  position: relative;
  display: list-item;
}
.content .par {
  padding-left: 20px;
  padding-bottom: 25px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1.2px;
  line-height: 30px;
}
.content h1 {
  font-family: "Times New Roman", Times, serif;
  font-size: 50px;
  padding-left: 20px;
  letter-spacing: 2px;
  font-weight: 600;
}
.content h6 {
  font-family: "Times New Roman", Times, serif;
  font-size: 15px;
  padding-left: 20px;
  margin-top: 9%;
  letter-spacing: 2px;
  font-weight: 700;
}
.content .cn {
  width: 160px;
  height: 60px;
  background: crimson;
  border: #fff;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 18px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}
.content .cn a {
  text-decoration: none;
  color: #111;
  transition: 0.3s ease;
}
.cn:hover {
  background-color: #fff;
  color: #111;
  border: crimson;
}
.n_img_tex {
  overflow: hidden;
  margin-left: 50%;
  margin-top: -40%;
}
.n_header_text_image {
  width: 100%;
  object-fit: contain;
}

.contain {
  width: 429px;
  position: relative;
  display: flex;
  margin-left: 3%;
}
.click {
  background: transparent;
}
.click:hover {
  background-color: RGB(48, 137, 220);
}
.click,
.links {
  padding: 12px;
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #fff;
  border-radius: 10px;
  outline: none;
  width: 250px;
  color: #fff;
  transition: 0.3s;
}
.list {
  position: absolute;
  transform: scaleY(0);
  transform-origin: top;
  transition: 0.3s;
}
.newlist {
  transform: scaleY(1);
}
.links {
  background-color: RGB(48, 137, 220);
}
.links:hover {
  background-color: rgb(112, 110, 110);
  transform: scale(1.1);
}

/* services styling */
.services {
  justify-content: center;
  display: flex;
  margin-top: 7%;
  /* height: 100vh; */
}
.services .title {
  color: rgba(48, 137, 220, 255);
  font-weight: 700;
  position: relative;
  text-align: center;
  font-family: "ubuntu", "sans-serif";
}
.services .text_services_text2 {
  font-family: "ubuntu", "sans-serif";
  color: #111;
  font-weight: 800;
}
.services .text_services_text3 {
  font-size: 15px;
  color: #333;
  width: 75%;
  margin: auto;
}
.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}
.services .serv-content .card {
  width: calc(23% - 10px);
  height: 250px;
  background: #ffffff;
  border: 2px solid RGB(232, 232, 232);
  text-align: center;
  border-radius: 6px;
  padding: 10px 10px;
  margin: 20px 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
}
.services .serv-content .card img {
  height: 25%;
  width: 23%;
  margin-top: 10%;
}
.services .serv-content .card .text {
  font-size: 15px;
  font-weight: 700;
  margin: 20px 7px;
  overflow: hidden;
}
.services .serv-content .card p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10%;
}

/* offer section */

.n_offers {
  background-color: RGB(245, 250, 254);
}

.n_header_offer {
  height: 40%;
  padding-top: 10%;
  justify-content: center;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.n_header_offer_heading_img {
  margin-top: 10%;
  margin-left: 15%;
  display: flex;
  height: 400px;
}

.n_header_offer_textheading {
  width: 50%;
  padding-top: 10%;
  margin-left: 10%;
}
.n_header_offer_textheading > .text1 {
  color: #fff;
}

/*financial services styling*/
.f_services {
  margin-top: 10%;
}
.f_services .title {
  color: rgba(48, 137, 220, 255);
  font-weight: 700;
  position: relative;
  text-align: center;
  font-family: "ubuntu", "sans-serif";
}

.f_services .serv-content .servimg {
  margin-top: 5%;
}

.f_services .serv-content .servtext {
  margin-top: 5%;
  display: inline;
  position: relative;
}

.f_services .serv-content .servtext .cardd1 {
  width: calc(23% - 10px);
  height: 404px;
}
.f_services .serv-content .servtext .cardd2 {
  width: calc(60% - 10px);
  height: 291px;
}
.f_services .serv-content .servtext .cardd3 {
  width: calc(93% - 10px);
  height: 250px;
}
.f_services .serv-content .servtext .cardd1 .boxx1 {
  margin-top: -25%;
  margin-left: 4%;
}
.f_services .serv-content .servtext .cardd2 .boxx2 {
  margin-top: -48%;
  margin-left: 55%;
}
.f_services .serv-content .servtext .cardd3 .boxx3 {
  margin-top: -31%;
  margin-left: 75%;
}
.f_services .serv-content .servtext .cardd1 .text1 {
  font-size: 15px;
  font-weight: 700;
  margin: 20px 7px;
  overflow: hidden;
}
.f_services .serv-content .servtext .cardd2 .text2 {
  font-size: 15px;
  font-weight: 700;
  margin: 20px 7px;
  overflow: hidden;
}
.f_services .serv-content .servtext .cardd3 .text3 {
  font-size: 15px;
  font-weight: 700;
  margin: 20px 7px;
  overflow: hidden;
}
.f_services .serv-content .servtext .cardd1 .text1 p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10%;
}
.f_services .serv-content .servtext .cardd2 .text2 p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10%;
}
.f_services .serv-content .servtext .cardd3 .text3 p {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10%;
}

/* brands styling */
.brands {
  justify-content: center;
  display: flex;
  height: 100vh;
  margin-top: 6%;
}
.brands .title {
  color: rgba(48, 137, 220, 255);
  font-weight: 700;
  position: relative;
  text-align: center;
  font-family: "ubuntu", "sans-serif";
}
.brands .text_brands_text2 {
  font-family: "ubuntu", "sans-serif";
  color: #111;
  font-weight: 800;
}
.brands .text_brands_text3 {
  font-family: "ubuntu", "sans-serif";
  color: #111;
  font-weight: 800;
}
.brands .text_brands_text4 {
  font-size: 15px;
  color: #333;
  width: 75%;
  margin: auto;
}
.brands .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}

.brands .serv-content .n_brand img {
  width: 80%;
  margin-top: 10%;
}

.brands .brandbtn button {
  margin-top: 7%;
}

/* safety */

.n_safety {
  background-color: RGB(245, 250, 254);
}

.n_header_safety {
  justify-content: center;
  display: flex;
  overflow: hidden;
  flex-direction: row;
}

.n_header_safety_heading_img {
  margin-top: 20%;
  margin-left: 10%;
  height: 400px;
}

.n_header_safety_textheading {
  width: 50%;
  padding-top: 10%;
  margin-left: 12%;
}
.n_header_safety_textheading .text1 {
  color: #fff;
}

.vl {
  border-left: 4px solid RGB(116, 123, 233);
  height: 180px;
  margin: 4%;
}

/* faqs */
.faq {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  font-size: 15px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8%;
}
.faq .container {
  width: 100%;
  max-width: 80rem;
  margin: 0 auto;
  padding: 0 0.1rem;
}

.faq .title {
  color: rgba(48, 137, 220, 255);
  font-weight: 700;
  position: relative;
  text-align: center;
  font-family: "ubuntu", "sans-serif";
}
.faq .text_services_text2 {
  font-family: "ubuntu", "sans-serif";
  color: #111;
  font-weight: 800;
}
.faq .text_services_text3 {
  font-size: 15px;
  color: #333;
  width: 75%;
  margin: auto;
}
.faq .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 6%;
}

.faq .accordion {
  margin: auto;
  width: 60%;
}
.faq .accordion-item {
  box-sizing: border-box;
  border-radius: 0.4rem;
  background: #ffffff;
  padding: 1rem;
  box-shadow: 2rem 3rem 4rem 4px RGB(240, 240, 240);
  margin: 1rem;
}

.faq .accordion-link {
  font-size: 0.9rem;
  color: #111111;
  font-weight: 700;
  text-decoration: none;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
.faq .accordion-link span {
  color: RGB(55, 141, 221);
}

.faq .accordion-link .iconn-add {
  color: #111111;
  padding: 0.5rem;
}
.accordion-link .iconn-remove {
  display: none;
}
.answer {
  max-height: 0;
  overflow: hidden;
  position: relative;
  background-color: RGB(242, 242, 242);
  color: RGB(114, 114, 115);
  font-size: 0.9rem;
  transition: max-height 650ms;
}
.answer::before {
  content: "";
  position: absolute;
  width: 0.6rem;
  height: 90%;
  background-color: RGB(242, 242, 242);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
.answer p {
  color: RGB(114, 114, 115);
  font-size: 0.9rem;
  padding: 2rem;
}
.accordion-item:target .answer {
  max-height: 20rem;
}
.accordion-item:target .accordion-link .iconn-add {
  display: none;
}
.accordion-item:target .accordion-link .iconn-remove {
  display: block;
}

/* testimonial */
.n_testimonial {
  background-color: RGB(245, 250, 254);
  margin-top: 5%;
}

.n_header_testimonial {
  height: 40%;
  justify-content: center;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  margin-bottom: 10%;
}


.n_header_testimonial_heading_img {
  margin-top: 20%;
  margin-left: 10%;
  height: 400px;
  margin-bottom: 12%;
}

.n_header_testimonial_textheading {
  width: 50%;
  padding-top: 15%;
  margin-left: 10%;
  margin-bottom: -6%;
}
.n_header_testimonial_textheading > .text1 {
  color: #fff;
}

/* footer start */

.footer {
  width: 100%;
  background: RGB(48, 137, 220);
  display: block;
}

.footer .text_footer_text2 {
  font-family: "ubuntu", "sans-serif";
  color: #ffffff;
  font-weight: 800;
}
.footer .text_footer_text3 {
  font-size: 15px;
  color: rgb(194, 191, 191);
  width: 75%;
  margin-bottom: 5%;
  text-align: center;
  justify-content: center;
}

.inner-footer {
  width: 95%;
  margin: auto;
  padding: 30px 10px;
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  justify-content: center;
}

.footer-items {
  width: 25%;
  padding: 10px 20px;
  box-sizing: border-box;
  color: #fff;
}

.footer-items p {
  font-size: 16px;
  text-align: justify;
  line-height: 25px;
  color: #fff;
}

.footer-items h1 {
  color: #fff;
}

ul {
  list-style: none;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
}

ul a {
  text-decoration: none;
  outline: none;
  color: #fff;
  transition: 0.3s;
}

ul a:hover {
  color: #ff9800;
}

ul li {
  margin: 10px 0;
  height: 25px;
}

li i {
  margin-right: 20px;
}

.social-media {
  width: 100%;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

.social-media a {
  text-decoration: none;
}

.footer-bottom {
  padding: 10px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.search-box {
  width: 100%;
  position: relative;
  display: flex;
  margin-bottom: 10%;
}
.search-input {
  width: 30%;
  border: 2px solid #fff;
  border-radius: 10px 0 0 10px;
  border-right: none;
  outline: none;
  font-size: 20px;
  color: #111;
  text-align: center;
  margin-left: 33%;
}
.search-button {
  text-align: center;
  height: 51px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 2px solid #fff;
  border-radius: 0 10px 10px 0;
  border-left: none;
  background: none;
  font-size: 20px;
  border-left: 2px solid #fff;
}

/* media query start */

@media (max-width: 1500px) {
  header {
    padding: 20px;
  }
}

@media (max-width: 1400px) {
  header {
    padding: 20px;
  }
  .f_services .serv-content .servtext .cardd2 .boxx2 {
    margin-top: -58%;
    margin-left: 56%;
  }
  .f_services .serv-content .servtext .cardd3 .boxx3 {
    margin-top: -35%;
    margin-left: 83%;
  }
}

@media screen and (max-width: 1275px) {
  .footer-items {
    width: 50%;
  }
  .n_safety {
    margin-bottom: 10%;
  }
  .servimg img {
    width: 1095px;
  }
  .safetybtn .btn {
    margin-top: 35%;
  }
  .v1 {
    width: 170%;
  }
}

@media (max-width: 1100px) {
  header {
    padding: 20px;
  }
  header label {
    display: inline;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid rgb(0, 0, 0, 0.1);
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li {
    background: rgb(189, 218, 245);
  }
  .servimg img {
    width: 1095px;
  }

  #menu-bar:checked ~ .navbar {
    display: initial;
  }

  .faq {
    margin-top: 22%;
    margin-bottom: 22%;
  }

  .brands {
    margin-bottom: 5%;
  }
  .safetybtn .btn {
    margin-top: 15%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media (max-width: 995px) {
  .header_div {
    background-color: white;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    margin-top: -6%;
  }
  .contain {
    display: block;
  }
  .n_header_testimonial {
    display: block;
  }
  .n_header_offer {
    display: block;
  }
  .n_header_offer_textheading {
    text-align: center;
    justify-content: center;
    width: 76%;
    margin-bottom: 10%;
  }
  .n_header_offer_heading_img {
    width: 50%;
    height: 0%;
    margin-left: 25%;
  }
  .servimg img {
    width: 1095px;
  }
  .faq {
    margin-top: 22%;
    margin-bottom: 22%;
  }
}

@media (max-width: 947px) {
  .header_div {
    background-color: white;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    margin-top: -6%;
  }
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}

@media (max-width: 760px) {
  .header_div {
    background-color: white;
    padding: 2%;
    border-bottom-left-radius: 6%;
    border-bottom-right-radius: 6%;
    margin-top: -3%;
  }
  .contain {
    display: block;
  }
  .n_header_testimonial_textheading {
    width: 100%;
    padding-top: 0%;
    margin-bottom: 11%;
  }
  .n_header_testimonial {
    margin-top: 10%;
  }
  .n_header_safety {
    display: block;
  }
  .safetybtn .btn {
    margin-top: 15%;
  }
  .n_header_safety_heading_img {
    width: 76%;
    height: 0%;
    margin-top: 0%;
    margin-bottom: 10%;
  }
  .faq {
    margin-top: 30%;
    padding-top: 10%;
    
  }
}

@media (max-width: 690px) {
  .services .serv-content .card {
    width: 100%;
  }
  .n_header_safety_heading_img {
    width: 76%;
    height: 0%;
    margin-top: 0%;
    margin-bottom: 10%;
  }
  .faq {
    margin-top: 30%;
    padding-top: 10%;
  }
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
  .footer-items {
    width: 100%;
  }
  .contain {
    display: block;
  }
  .n_header_testimonial {
    margin-top: 15%;
  }
  .n_header_safety_heading_img {
    width: 76%;
    height: 0%;
    margin-top: 0%;
    margin-bottom: 10%;
  }
  .faq {
    margin-top: 40%;
    padding-top: 10%;
  }
}

@media screen and (max-width: 572px) {
  .faq {
    margin-top: 50%;
    padding-top: 20%;
  }
}
@media screen and (max-width: 443px) {
  .faq {
    margin-top: 55%;
    padding-top: 30%;
  }
}
@media screen and (max-width: 386px) {
  .faq {
    margin-top: 63%;
    padding-top: 30%;
  }
}
@media screen and (max-width: 300px) {
  .faq {
    margin-top: 100%;
    padding-top: 10%;
  }
}
